/* Blush variables */
$theme-color: #D18B7D;
$text-color: #4A302B;
$text-color-secondary: #7A4E3E;
$text-grey: #CAB0A1;
$divider: #EFD8CA;
$lighter-grey: #FDF1EC;
$darker-grey: #6C473E;
$smoky-white: #F5E4DB;
$heart: #E09A83;
